@import url('https//fonts.googleapis.com/css2?family=Robot:wght@100;300;400;500;700&display=swap');
:root{
    --main-color:#1b3451;
    --black:#fef3a6;
   
    --border:.1rem solid rgba(255,255,255,.3);
}
*{
    font-family: 'Robot',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalizes;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
    outline: none;
    border: none;
    direction: rtl;
}
.photo{
    width: 35px;
    height: 25px;

}
html{
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top: 9rem;
 scroll-behavior: smooth;   
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background:black ;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
body{
    background: var(--bg);
    /* display: flex; */
    align-items: center;
    background-image:url(../img/bg1-min.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color:var(--black) ;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color:var(--black) ;
    text-transform: uppercase;
}
.btn{
    background-color: var(--black);
    color: #2e3f3f ;
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem ;
    border-radius: 30px;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--black) ;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    opacity: 0.8;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    font-weight:bold;
    color: var(--black);
}
.header .navbar a:hover{
    color: #2e3f3f ;
    border-bottom: .1rem solid var(--black);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: #2e3f3f ;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform:scaleY(0) ;
    -webkit-transform:scaleY(0) ;
    -moz-transform:scaleY(0) ;
    -ms-transform:scaleY(0) ;
    -o-transform:scaleY(0) ;
    transform-origin: top;
}
.header .search-form.active{
    transform:scaleY(1) ;
    -webkit-transform:scaleY(1) ;
    -moz-transform:scaleY(1) ;
    -ms-transform:scaleY(1) ;
    -o-transform:scaleY(1) ;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--main-color);
}
.header .search-form label:hover{
    color: var(--black);
}
.header .cart-items-container{
position: absolute;
top: 100%; right:-100%;
height: calc(100vh - 9.5rem);
width: 35rem;
background-color: #fff;
padding: 0 1.5rem;
}
.header .cart-items-container.active{
    right: 0;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; left: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #2e3f3f;
}
.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--black) ;
}
.header .cart-items-container .cart-item img{
height: 7rem;
}
.header .cart-items-container .cart-item h3{
    height: 2rem;
    font-size: 1.7rem;
    color: #2e3f3f;
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item price{
    height: 1.5rem;
    color: var(--main-color);
    font-size: 1.6rem;
}
.header .cart-items-container .cart-item .btn{
    width: 100%;
    text-align: center;
}
.home{
    min-height:100vh ;
    display: flex;
    align-items: center;
    background-image:url(../img/5-min.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
   max-width: 60rem; 
}
.home .content .home-img{
    display: flex;
width: 150px;
height: 150px;
justify-content: center;
align-items: center;
margin-right: 350px;
margin-top: 455px;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-right: 10rem;
}
.about .row .image{
    flex: 0.5 0.5 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:0 1 45rem;
    padding: 4.5rem;
}
.about .row .content h3{
    font-size:4rem;
    color: #fff;
}
.about .row .content p{
    font-size: 2rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.sliders{
    display: flex;
    text-align: center;
    
}
.sliders  .box-container{
    padding-top: 6rem ;
}
 .sliders {
    text-align: center;
    justify-content: center;
 }
.slider{
    width: 450px;
    height: 700px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;

}
.slides input{
display: none;
}
.slide{
    width: 20%;
    transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
}
.slider:hover{
    -ms-transform: scale(1.5);
    /*IE9*/-webkit-transform: scale(1.5);
    /*Safari3-8*/transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.slide img{
    width: 450px;
    height: 700px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    }
    .manual-btn{
        border: 2px solid #8ea4b1;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background: rgb(81, 52, 52); 
    }
    #radio1:checked ~ .first{
        margin-right:0;
    }
    #radio2:checked ~ .first{
        margin-left:-20%;
    }
    #radio3:checked ~ .first{
        margin-left:-40%;
    }
    #radio4:checked ~ .first{
        margin-left:-60%;
    }
    #radio5:checked ~ .first{
        margin-left:-80%;
    }
     #radio6:checked ~ .first{
        margin-left:-100%;
    }
    .navigation-auto{
    position: absolute;
    display: flex;
    }
    .navigation-auto div{
        border: 2px solid #7394a7;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #8ea4b1;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #8ea4b1;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #8ea4b1;
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #8ea4b1;
    }
    #radio5:checked ~ .navigation-auto .auto-btn5{
        background: #8ea4b1;
    }
    #radio6:checked ~ .navigation-auto .auto-btn6{
        background: #8ea4b1;
    }

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    padding: 1rem;
    margin: 25px 25px;
    border: none;
}
.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height:3.5rem;
    font-size: 2rem;
    color: #fff;
    margin: 2rem;
}

.products .box-container .box .icons a:hover{
    background: #2e3f3f ;
}
.products .box-container .box .image{
    padding: 2rem 0;
}
.products .box-container .box .image .product{
    height: 15rem;
    margin-right: 10px;
}
.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars{
    padding: 1.5rem;
}
.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--black);
}
.products .box-container .box .content .price{
    color: #fff;
    font-size: 2rem;
}
.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

ul{
    position: absolute;
    bottom:-1682px;
    /* left: 70%; */
    transform:translate(-50%,-50%) ;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    display: flex;
}
ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
ul li:hover{
    box-shadow: 0px 0px 20px 20px var(--black);
}
ul li span{
    position: absolute;
    width: 15px ;
    height: 15px;
    border: 4px solid #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}
ul li.left span{ transform: translateY(-50%) rotate(-45deg);
     -webkit-transform: translateY(-50%) rotate(-45deg);
      -moz-transform: translateY(-50%) rotate(-45deg);
       -ms-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
        border-top: none;
        border-left: none;
}
ul li.right span{ transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
     -moz-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
       -o-transform: translateY(-50%) rotate(-45deg);
       border-bottom: none;
       border-right: none;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin-right: 20px;
  }
  .itemBox{
    position: relative;
    width: 220px;
    height: 250px;
    margin: 30px ;
    background-color: #2e3f3f ;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff;
    inset: 0 -15px 0 rgba(255,255,255,0.25),  045px 0 rgba(0,0,0,0.15);
    overflow: hidden;
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .itemBox:hover{
    height: 300px;
  }
  .itemBox::before{
    content: '';
    position: absolute;
    top: -140px;
    left: -40px;
    width: 100%;
    height: 150%;
    background: linear-gradient(-90deg,transparent,rgba(255,255,255,0.2));
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
  .itemBox:nth-child(1){
    background: linear-gradient(to bottom,#2e3f3f );
  }
  .itemBox:nth-child(2){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(3){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(4){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(5){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(6){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(7){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(8){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(9){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(10){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(11){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(12){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(13){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(14){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .itemBox:nth-child(15){
    background: linear-gradient(to bottom,#2e3f3f);
  }
  .img-menu{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.5) ;
  }
  .menu-food{
    padding: 10ox 20px;
    text-align: center;
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
    opacity: 0 ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .itemBox:hover  > .menu-food{
    opacity: 1;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }
  
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .list {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    list-style: none;
    cursor: pointer;
  }
  .list:hover {
    background-color: #ddd;
  }
  
  .list.active,.list {
    background-color: #666;
    color: white;
    border-radius: 15px;
  }
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    overflow-y: scroll;
    height: 190px;
}
.box::-webkit-scrollbar{
    width: .8rem;

}
.box::-webkit-scrollbar-track{
    background:transparent ;
    
}
.box::-webkit-scrollbar-thumb{
    
    background: rgb(241,188,211);
    background: radial-gradient(circle, rgba(241,188,211,1) 0%, rgba(168,139,174,1) 27%, rgba(90,98,135,1) 65%, rgba(165,198,238,1) 100%);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #ccc;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--black);
}
.quote{
    width: 2rem;
    height: 2rem;
}
.contact .row{
    display: flex;
    background: #2e3f3f ;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem ;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 30rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    background:var(--bg) ;
    border: var(--border);
    width: 400px;
    margin-right: 6rem;
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
    margin-right:1.5rem ;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
    
}
.group-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin-right: 20px;
  }
  .grooup{
    background-color: var(--black);
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 28px;
    margin-top: -46px;
    border-radius: 20px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 22px;
    box-shadow: 0 15px 0 #2e3f3f;
    inset: 0 -15px 0 rgba(255,255,255,0.25),  045px 0 rgba(0,0,0,0.15);
    overflow: hidden;
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
    cursor: pointer;
  }
  .grooup:hover{
    height: 100px;
  }
  .img-group{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.5) ;
  }
  .group-food{
    padding: 10ox 20px;
    text-align: center;
    transform: translateY(-450px);
    -webkit-transform: translateY(-450px);
    -moz-transform: translateY(-450px);
    -ms-transform: translateY(-450px);
    -o-transform: translateY(-450px);
    opacity: 0 ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .grooup:hover  > .group-food{
    opacity: 1;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.footer{
    background-color:#2e3f3f ;
}
.footer .sm{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
 .footer .sm a{
    display: inline-block;
    font-size: 20px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:var(--black);
    margin: 10px 0;
    transition: .4s linear;
    position: relative;
  }
  
  .footer .sm a::before, .sm a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
  }
  
  .footer .sm a:hover{
    transform: scale(.8);
  }
  
  .footer .sm a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
  }
  
  .footer .sm a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
  }
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: .1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: var(--black);
    border: var(--border);
    font-size: 1.5rem;
}
.footer .links a:hover{
    background-color:#0e233a;
}
#click{
    width: 40px;
    height: 40px;
    margin-left: 60px;
    margin-right: 150px;
    background: #2e3f3f;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: var(--black);
}
#click:hover{
    box-shadow: 0px 0px 20px 20px var(--black);
}
.menu-container .itemBox.hide{
        display: none;
      }
































/* media queries  */
@media(max-width:991px){
    html{
        font-size:55% ;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh-9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        padding: .5rem;
        margin: 1.5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        background-position: 4.5rem;
    }
    .home .content p{
        background-position: 1.5rem;
    }





}
@media(max-width:450px){
    html{
        font-size:50% ;
    }
    
}